<h1><%= @party.name %></h1>

<p><%= @party.description %></p>

<!-- 

Si utilisateur inscrit
	Afficher bouton désinscription 
Sinon 
... -->

<!-- Ajouter formulaire pour inscription + récupérer user_id + party_id -->

<button href="./parties/suscribe">S'inscrire</button>