<h1><%= @party.name %></h1>

<p><%= @party.description %></p>

<h2>Participants :</h2>

<% @users.each do |u| %>
	<a href="/user/show?id=<%= u.id %>"><%= u.login %></a><br/>
<% end %>


<!-- 

Si utilisateur inscrit
	Afficher bouton désinscription 
Sinon 
... -->

<!-- Ajouter formulaire pour inscription + récupérer user_id + party_id -->

<button href="./parties/suscribe">S'inscrire</button>