@import 'reset';

body{
	

	.signUp{
		position: relative;
		top:50px;
		margin-top:50px;
		width:400px;
		margin:auto;
	
		input{
			width:400px;
			height:30px;
			font-size:22px;

		}
		p{
			padding-bottom:10px;
		}
		.submit{
			width:100px;
			height:50px
		}
		h1{
			font-size: 20px;
			text-transform:uppercase;
			padding-top:10px;
			padding-bottom:20px;
		}
		.signUpErrors{
			width:400px;
			color: red;

			li{
				height:20px;
			}

		}
	}
	.signIn{
		position: relative;
		top:50px;
		margin-top:50px;
		width:400px;
		margin:auto;
	
		input{
			width:400px;
			height:30px;
			font-size:22px;

		}
		p{
			padding-bottom:10px;
		}
		.submit{
			width:100px;
			height:50px
		}
		h1{
			font-size: 20px;
			text-transform:uppercase;
			padding-top:10px;
			padding-bottom:20px;
		}
		.signInErrors{
			width:400px;
			color: red;

			li{
				height:20px;
			}

		}
		.message{
			margin-top:20px;
			text-align:center;
			color:#333;

			a{
				color:#333;
			}
		}
	}

}