.navbar{
	min-height : 0 !important;
	padding: 4px 0 5px; 
}

nav .buttons {
	text-align: center;
}

nav form, nav form *{
	display: inline;
}

h1 i {
	font-size: .5em;
}

h1, h1 i {
	line-height: .7em !important;
}

h1 {
	margin-bottom: .5em !important;
}